# fly.toml app configuration file generated for anime-scraper-api
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "anime-scraper-api"
primary_region = "sin"

[build]

[env]
  PORT = "3000"
  LOG_LEVEL = "INFO"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 512
